# Zscaler OneAPI / Client Connector API Credentials
# Copy this file to '.env' and fill in your tenant values.

#API Client ID & Secret
ZSCALER_CLIENT_ID="your_client_id_here"
ZSCALER_CLIENT_SECRET="your_client_secret_here"

#First part of your [vanity_domain].zslogin.net URL
ZSCALER_VANITY_DOMAIN="vanity_domain"

# ZPA Customer ID, required for Posture Check queries
ZSCALER_CUSTOMER_ID="your_zpa_customer_id_here" 

# Optional: The cloud where your tenant is hosted (defaults to production if not specified)
# ZSCALER_CLOUD="production"

# Optional: Friendly name for environment partitioning of PAC files (defaults to vanity domain)
ENV_NAME="customerx" 

# Mandatory for PAC file deployment; registers/maps PAC file under this domain.
# Generally this is the domain of the customer for authentication
PRIMARY_DOMAIN="your_primary_domain_here.com"

#Comma-separated list of internal domain used for ZPA configurations.
#INTERNAL_DOMAINS="mydomain.local,mydomain.loc" 
INTERNAL_DOMAINS="your_internal_domain1.local,your_internal_domain2.local" 
